In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, mean_squared_error
from sklearn.pipeline import Pipeline
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from scipy.stats import ttest_rel
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler

# Load data

In [2]:
# Mikel path
#data = pd.read_csv('/Users/mikelyu/Desktop/Uni/02455 Statistical Evaluation/02455-projects/HR_data.csv')

# Karl path
df = pd.read_csv(r"C:\desktop\02455-projects\HR_data.csv")

# Display the first few rows of the dataset
print(df.head())

   Unnamed: 0    HR_Mean  HR_Median    HR_std  HR_Min  HR_Max     HR_AUC  \
0           0  77.965186      78.00  3.345290   73.23   83.37  22924.945
1           1  70.981097      70.57  2.517879   67.12   78.22  21930.400
2           2  73.371959      73.36  3.259569   67.88   80.22  21647.085
3           3  78.916822      77.88  4.054595   72.32   84.92  25258.905
4           4  77.322226      74.55  6.047603   70.52   90.15  23890.565

     Round   Phase  Individual  Puzzler  Frustrated Cohort
0  round_3  phase3           1        1           1   D1_1
1  round_3  phase2           1        1           5   D1_1
2  round_3  phase1           1        1           0   D1_1
3  round_2  phase3           1        1           1   D1_1
4  round_2  phase2           1        1           5   D1_1

In [6]:
# Display the first few rows of the dataframe
print(df.head())

# Display information about the dataframe
print(df.info())

X = df.drop(["Unnamed: 0",'Frustrated',"Individual","Puzzler","Cohort","Phase","Round"], axis=1)

X

   Unnamed: 0    HR_Mean  HR_Median    HR_std  HR_Min  HR_Max     HR_AUC  \
0           0  77.965186      78.00  3.345290   73.23   83.37  22924.945
1           1  70.981097      70.57  2.517879   67.12   78.22  21930.400
2           2  73.371959      73.36  3.259569   67.88   80.22  21647.085
3           3  78.916822      77.88  4.054595   72.32   84.92  25258.905
4           4  77.322226      74.55  6.047603   70.52   90.15  23890.565

     Round   Phase  Individual  Puzzler  Frustrated Cohort
0  round_3  phase3           1        1           1   D1_1
1  round_3  phase2           1        1           5   D1_1
2  round_3  phase1           1        1           0   D1_1
3  round_2  phase3           1        1           1   D1_1
4  round_2  phase2           1        1           5   D1_1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  168 non-null    int64
 1   HR_Mean     168 non-null    float64
 2   HR_Median   168 non-null    float64
 3   HR_std      168 non-null    float64
 4   HR_Min      168 non-null    float64
 5   HR_Max      168 non-null    float64
 6   HR_AUC      168 non-null    float64
 7   Round       168 non-null    object
 8   Phase       168 non-null    object
 9   Individual  168 non-null    int64
 10  Puzzler     168 non-null    int64
 11  Frustrated  168 non-null    int64
 12  Cohort      168 non-null    object
dtypes: float64(6), int64(4), object(3)
memory usage: 17.2+ KB
None

       HR_Mean  HR_Median     HR_std  HR_Min  HR_Max     HR_AUC
0    77.965186     78.000   3.345290   73.23   83.37  22924.945
1    70.981097     70.570   2.517879   67.12   78.22  21930.400
2    73.371959     73.360   3.259569   67.88   80.22  21647.085
3    78.916822     77.880   4.054595   72.32   84.92  25258.905
4    77.322226     74.550   6.047603   70.52   90.15  23890.565
..         ...        ...        ...     ...     ...        ...
163  73.594539     72.380   9.474556   57.43   93.53  21482.985
164  57.839897     54.130   6.796647   52.97   74.14  16825.740
165  64.237295     65.195   3.589241   58.97   72.63  18691.065
166  70.834320     70.440   2.391160   66.65   76.07  20753.005
167  71.133878     69.225  14.069337   57.17  114.33  20820.320

[168 rows x 6 columns]

In [7]:
y = df['Frustrated']

In [9]:
numeric_columns = X.select_dtypes(include=['float64', 'int64']).columns

scaler = StandardScaler()
X[numeric_columns] = scaler.fit_transform(X[numeric_columns])

# Check mean and standard deviation
print(X[numeric_columns].mean())
print(X[numeric_columns].std())

HR_Mean      2.379049e-16
HR_Median   -7.797995e-16
HR_std      -4.229421e-17
HR_Min      -8.035900e-16
HR_Max      -1.015061e-15
HR_AUC      -3.700743e-16
dtype: float64
HR_Mean      1.00299
HR_Median    1.00299
HR_std       1.00299
HR_Min       1.00299
HR_Max       1.00299
HR_AUC       1.00299
dtype: float64

In [15]:
X_R = []
for i in range(14):
    globals()[f'individual_{i}'] = X[(i*12):((i+1)*12)]
    X_R.append(globals()[f'individual_{i}'])

In [ ]:
from sklearn.model_selection import GroupKFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np

# Model
model = RandomForestClassifier()

# GroupKFold with n_splits=14 (equivalent to Leave-One-Group-Out)
group_kfold = GroupKFold(n_splits=14)

# Cross-Validation Scores
scores = cross_val_score(model, X, y, cv=group_kfold, groups=groups)

# Display Scores
print("Cross-Validation Scores:", scores)
print("Mean CV Score:", np.mean(scores))